.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.articoliBox {
  background-color: white;
  padding-left: 40px;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  padding-right: 40px;
  border: solid #f8f9fa;
}

.paginationBox {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemPerName{
  width:6%;
  float:left;
}

.itemPerNameTxt{
  margin-top: 1%;
  margin-left: 1%;
  font-style: italic;
  color: lightgray;
}

.itemPerNameBox{
  display: flex;
}

.buttonNoBorder{
  border: none;
  background: none;
}

.searchBox {
  width: 35%;
}

.buttonCancel{
  float:right;
}

.inputNewArticolo {
  padding-top: 20px;
  width: 70%;
}

.newArticolo {
  border: solid #f8f9fa;
  background-color: white;
  padding-top: 40px;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.newArticoloButton{
  float:right;
  padding-top: 20px;
}

.ordersBox{
  margin: auto;
  width: 30%;
}

.orderCodBox{
  float:left;
}

.userBox{
  float: right;
}

.userBoxTitle{
  margin-right: 30px;
  width: 100%;
  color: grey;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.buttonDeleteOrdine{
  float:right;
  border: none;
  background: none;
  margin-left: 30px;
  margin-top: 10px;
}

.indirizzoBox{
  float: right;
  width: 30%;
  margin-left: 30px;
}

.indirizzoBoxTitle{
  margin-right: 30px;
  color: grey;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.orderBox {
  margin: auto;
  width: 40%;
}

.orderPlaceBox{
  float:left;
  margin-right: 2%;
  margin-top: 5px;
}

.orderPlaceBoxTitle{
  margin-left: 8px;
  width: 100%;
}

.orderStatsBox{
  border-radius: 8px 8px 0 0;
  border: 2px solid #707070;
  background-color: 	#E0E0E0;
  height: 65px;
}

.orderDataOrdineBox{
  width: 100%;
  text-align: center;
}

.orderPriceBox{
  float:left;
  margin-right: 2%;
  margin-top: 5px;
}

.orderPriceBoxTitle{
  margin-left: 75px;
  width: 100%;
}

.orderTotaleBox{
  margin-left: 75px;
  width: 100%;
}

.tableOrderBox{
  border : 2px solid #ccc;
  border-top: none;
  padding-left:20px;
}

.orderIdBox{
  float:right;
  margin-top: 5px;
}

.articoloFormBox{
  width:100%;
  display: inline-block;
}

.buttonGoBack{
  margin-bottom: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.buttonEditOrder {
  margin-right: 100px;
  padding-top: 10px;
  border: none;
  background: none;
  float:right;
}

.buttonsSaveCancel{
  display: inline-block;
  width: 100%;
}

.divButtonCancel{
  width: 20%;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 40px;
  float:right;
}

.divButtonSaveOrder{
  width: 20%;
  margin-top: 30px;
  margin-left: 50px;
}

.articoloIconBox{
  display: inline-block;
  width: 100%;
}

.goBackArticoloButtonBox{
  width: 100%;
}

.goBackArticoloButton{
  float:left ; 
  border: none;
  background: none;
}
.buttonEdit{
  margin-left:50px;
  padding-top: 10px;
  float:left;
  border: none; 
  background: none; 
}

.buttonCartBox{
  width: 100%;
}

.buttonCart{
  float: right;
  border: none;
  background: none;
}

.cartBox{
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
  width: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  flex: auto;
}

.buttonPlus{
  flex: auto;
  border: none;
  background: none;
}

.buttonConfirm{
  float: right;
  border: none;
  background: none;
}

.buttonEmptyCart{
  float: right;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body, html {
  height: 100%;
  background-repeat: no-repeat;
  font-family: Arial !important;
  background-color: ghostwhite;
}

.backgroundLogin {
  background-color: ghostwhite;
}

.center-screen {
  padding-left:20px;
  padding-right:20px;
  width: 20%;
  margin: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80%;
  height: 100vh;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 60%;
  border: 1px lightgray solid;
  height: 70vh;
}

.containerOperation {
  border: 1px lightgray solid;
  height: 30vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-flow: row nowrap;
  width: 50%;
  margin: auto;
  margin-top: 5% !important;
}

.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 27%;
  height: 18vh;
  margin-bottom: 4%;
  border: 1px solid lightgray;
}

.form-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 60%;
  margin: 5px;
  margin-bottom: 8%;
}

.button-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.btn-login{
  width: 30%;
}

.formUser {
  margin: 10px;
}

.ricercaClienti {
  margin: 16px;
}

.formRicercaClienti {
  border: 1px black solid;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.commondFieldset{
  border: 1px black solid;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 3px;
}

.commondFieldsetLabel{
  margin-left: 20px;
}

.formRicercaClientiError {
  border: 1px black solid;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.labelForm{
  margin-top: 8px;
}

.bottoneRicerca {margin-top: 25px;}

.verifyRegistry {
  border: 1px black solid;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.underlined {
  text-decoration: underline;
}

.checkBox {
  margin-top: 5px;
  margin-left: 4%;
}

.tableClienti {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 98%;
}

.bottoneDettaglio {
  border-bottom: 1px black solid;
}

.errorInput {
  border: 1px red solid;
}

.navButton {
  color: black;
}

.navButton:hover {
  color: black;
}

.active {
  text-decoration: underline black;
}

.noPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.reactselect-valid > .css-yk16xz-control {
  border-color: #28a745;
}

.reactselect-invalid > .css-yk16xz-control {
  border-color: #dc3545;
}

.span-error-filiale {
  margin-left: 6%;
}

.span-error-nag {
  margin-left: 2%;
}